<div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 first-column">
        <app-user></app-user>
      </div>
      <div class="col-xl-6 col-lg-8 second-column">
        <app-tweet-list></app-tweet-list>
      </div>
      <!--

          <div class="col-xl-3 col-lg-4 third-column">
        <div class="recent-visits col-xs-6 col-md-12">
          <h4>Recent Visits</h4>
          <ul>
            <li>
              <a>username </a>
              <span>Date</span>
            </li>
          </ul>
        </div>
      </div>
      -->
    </div>
  </div>


