<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="profile">
        <img class="profile__image" src="https://avatars1.githubusercontent.com/u/10989616?v=4">
        <div class="profile__user-info">
          <span class="profile__handle">
            User name
          </span>
        </div>
        <div class="row">
          <div class="col-12 user-information__stats">
            <ul>
              <li>
                <span class="user-information__stat-title">
                  Tweets:
                </span>
                <span>
                  <a>15</a>
                </span>
              </li>
              <li>
                <span class="user-information__stat-title">
                  Following:
                </span>
                <span>
                  <a>15</a>
                </span>
              </li>
              <li>
                <span class="user-information__stat-title">
                  Followers:
                </span>
                <span>
                  <a>15</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="profile">
        <div *ngFor="let item of images">
          <img class="test__image" src={{item.pictureUrl}}>
        </div>
        <button (click)="addPicture()">add new</button>
      </div>
    </div>
    <div class="col-lg-8">
      <app-tweet-list></app-tweet-list>
    </div>
  </div>
</div>
